<li id="<%= feed_item.id %> ">
  <% link_to 'user', feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    <%= time_ago_in_words(feed_item.created_at)%>
  </span>
  <% if current_user %>
    <%= link_to 'delete', feed_item, method: :delete,
                                              data: { confirm: "Are you sure?"},
                                              title: feed_item.content %>
</li>
