<li class="post-format">
  <div class="post-user-feed">
    <% if post.user.avatar.attached? %>
      <%=  image_tag(post.user.avatar.variant(resize: "45x45")) %>
    <% end %>
    <span><%= post.user.name %></span>
  </div>
  
  <div class="post-format-div">
    
    <span class="content"><%= post.content %></span>
    <span class="timestamp">
      <%= time_ago_in_words(post.created_at) %> ago.
    </span>
    <% if post.user == current_user %>
      <%= link_to 'delete', post, method: :delete,
                                              data: { confirm: "Are you sure?" },
                                              title: post.content %>
    <% end %>
  </div>
</li>